.ResourceList {
	display: flex;
	flex-direction: column;
	gap: 15px;

	.Header {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	.Tags {
		display: flex;
		gap: 10px;
		overflow: hidden;
	}

	.Previews {
		display: flex;
		flex-wrap: wrap;
		gap: 30px 10px;

		.ResourcePreview {
			flex: 1 0 21%;
		}
	}

	.Button_showMore {
		padding: 10px 30px;
		background: $white-button-100;
		height: 40px;
		width: 100%;

		&:hover {
			background: $white-button-90;
		}
		
		&:active {
			background: $white-button-80;
		}
	}

	.Paginator {
		justify-content: center;
	}

	.FiltersBar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		z-index: 2;

		.Filters {
			display: flex;
			align-items: center;
			gap: 15px;
		}
	}
}

.ResourcePreview {
	position: relative;
	min-width: 200px;

	.Image {
		width: 100%;
		height: 176px;
		border-radius: 10px;
		background-size: cover;
		background-position: 50%;

		transition: all 100ms ease-out;

		.Switcher {
			width: 100%;
			height: 100%;

			display: flex;
			gap: 4px;
			padding: 10px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.85) 100%);

			& > div {
				flex-grow: 1;
				position: relative;

				&::after {
					content: '';
					width: 100%;
					height: 3px;
					display: block;
					position: absolute;
					bottom: 0;
					backdrop-filter: blur(25px);
					background: $white-input-10;
					border-radius: 15px;

					transition: background-color 100ms ease-out;
				}

				&:hover::after {
					background: $white-input-30;
				}
			}
			opacity: 0;
		}

		&:hover > .Switcher {
			opacity: 1;
		}
	}

	.Meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		
		.Stats {
			display: flex;
			align-items: center;
			color: $white-text-30;
			gap: 10px;

			div {
				display: flex;
				align-items: center;
				gap: 4px;
			}
		}
	}
	
	.Button__Download {
		position: absolute;
		right: 10px;
		top: 10px;
		backdrop-filter: blur(25px);
		background: $white-button-100;
		cursor: pointer;
		z-index: 1;
		width: 30px;
		height: 30px;
		color: #FFF;

		display: flex;
		align-items: center;
		justify-content: space-around;

		opacity: 0;
		transition: opacity 100ms ease-out;

		&:hover {
			background: $white-button-90;
		}

		&:active {
			background: $white-button-80;
		}
	}

	&:hover .Button__Download {
		opacity: 1;
	}
}

.ResourceSidebar {
	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 400;
	
	.Group {
		h6 {
			color: $white-text-30;
			font-size: 14px;
			margin-bottom: 10px;
		}

		.Items {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 10px;
		}
	}

	.Item {
		color: #FFF;
		display: flex;
		align-items: center;
		gap: 8px;

		span {
			color: $white-text-30;
			cursor: default;
		}

		a {
			cursor: pointer;
		}
	}
}

.StickySidebar {
	left: -225px;
	width: 200px;
}

.StickyQuickLink {
	right: 50px;
}

.ResourceMeta {
	.Stats {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		.Item {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 24px;
		}
	}

	.Description {
		color: $white-text-30;
		margin-top: 30px;
		font-weight: 400;
		width: 450px;
	}

	.Tags {
		position: absolute;
		right: 30px;
		display: flex;
		gap: 10px;
		max-width: 40%;
	}
}

.ResourceDownloadBar {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	.Group__EditionDownload {
		display: flex;
		flex-wrap: wrap;
		gap: 1px;
	
		.Button__download {
			@include font-headers;
			@include button-green;
			
			font-weight: 450;
			font-size: 24px;
			border-radius: 10px 0px 0px 10px;
			padding-left: 15px;
			width: 250px;

			line-height: 0.8;
			text-align: left;

			.DownloadType {
				font-size: 14px;
			}
		}
		
		.Dropdown__downloadMore {
			z-index: 1;
	
			.Button__downloadMore {
				@include button-green;
				
				border-radius: 0px 10px 10px 0px;
				width: 28x;
				height: 60px;

				display: flex;
    			align-items: center;
			}
		
			& > .Content {
				top: 0;
				left: 5px;
				width: 170px;
				z-index: 0;
				padding: 10px;
		
				.Item {
					display: flex;
					justify-content: space-between;
					align-items: center;
	
					&:first-child {
						padding-top: 0px;
					}
	
					[data-icon] {
						color: $white-icon-30
					}
				}
			}
		}
	}

	.Link__Virustotal {
		display: flex;
		align-items: center;
	}	
}

.ResourceDescription {
	color: $white-text-30;

	transition: color 100ms ease-out;

	display: flex;
	flex-direction: column;
	gap: 15px;

	.Content {
		position: relative;
		max-width: 70%;
		max-height: 4em;

		text-overflow: ellipsis;
		overflow: hidden;

		&.Hideable {
			cursor: pointer;
			-webkit-mask-image: -webkit-gradient(linear, left top, 
				left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

			&[data-opened="true"] {
				cursor: inherit;
				max-height: unset;
	
				-webkit-mask-image: none;
			}
		}
	}

	.Link__showMore {
		@include user-select(none);
		font-size: 18px;
		cursor: pointer;

		&:hover {
			color: $white-link-30;
		}
	}
}

.ResourceInformation {
	display: table;
	border-collapse: separate;
    border-spacing: 0 10px;
	padding: 30px;

	div {
		display: table-row;

		& > * {
			display: table-cell;
		}

		span:first-child {
			color: $white-text-30;
		}
	}
}

.ResourceRatePanel {
	color: $white-text-30;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	.Stars {
		display: flex;

		& > * {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 60px;
			height: 60px;
			border-radius: 15px;

			&:hover {
				color: #FFF;
				background: $white-input-10;
			}

			[data-filled="true"] {
				color: #FFF;
			}
		}
	}
}

.ContentCard__ResourceHeader {
	color: #FFF;
	display: flex;
	flex-direction: column;
	gap: 30px;

	.DraggbleContainter__Screenshots {
		padding: 0 30px;
		margin-right: -30px;
		margin-left: -30px;
	}
}

.ContentCard__ResourceComments {
	& > .Content {
		max-width: 800px;
		width: 100%;
	}
}

.ContentCard__ResourceInformation {
	& > .Items {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;

		& > * {
			flex: 1 0 21%;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 0px 2px rgba(255, 255, 255, 0.15);
			border-radius: 10px;
			background: $black-88;
		}
	}
}

.ContentCard__ResourceDiscover {
	& > .Items {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;

		& > * {
			flex: 1 0 21%;
		}
	}
}

.DraggbleContainter__Screenshots {
	& > * {
		cursor: pointer;
		box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.15);
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

		img {
			max-height: 150px;
			border-radius: 10px;
		}
	}
}